{{#each  posts as |post|}}
  <div class="home-posts__post">
    {{#link-to 'blogpost' post.permalink class='post__title'}}
      {{post.title}}
    {{/link-to}}
    <img class="post__cover" src="{{imageHost}}{{post.cover.url}}">
    <hr>
    <div class="post__text">
      {{{post.text}}}
    </div>
    <i class="fa fa-heart post__likes"> {{post.likes}}</i>
  </div>
{{/each}}
{{yield}}
