<form {{action 'addPost' on='submit'}}>
  <p>Title:  {{input value=title}}</p>
  <p>Text:  {{textarea value=text}}</p>
  <p>Tags:  {{input value=tags}}</p>
  <p>Permalink:  {{input value=permalink}}</p>
  {{input type="submit" value='Submit'}}
</form>
{{outlet}}
